In [1]:
import pandas as pd
import os

original_csv_path = "../data/original-mineralimage5K/minerals_full.csv"

df = pd.read_csv(original_csv_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44784 entries, 0 to 44783
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               44784 non-null  object
 1   path             44784 non-null  object
 2   height           44784 non-null  int64
 3   width            44784 non-null  int64
 4   ru_name          44784 non-null  object
 5   ru_synonim_name  44784 non-null  object
 6   ru_variety       12997 non-null  object
 7   ru_satellites    13791 non-null  object
 8   ru_description   21248 non-null  object
 9   en_name          44784 non-null  object
 10  en_variety       339 non-null    object
 11  en_satellites    5325 non-null   object
 12  en_description   21247 non-null  object
 13  text_boxes       44784 non-null  object
 14  mineral_boxes    44784 non-null  object
dtypes: int64(2), object(13)
memory usage: 5.1+ MB

In [5]:
df['en_variety'] = df['en_variety'].fillna('')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44784 entries, 0 to 44783
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               44784 non-null  object
 1   path             44784 non-null  object
 2   height           44784 non-null  int64
 3   width            44784 non-null  int64
 4   ru_name          44784 non-null  object
 5   ru_synonim_name  44784 non-null  object
 6   ru_variety       12997 non-null  object
 7   ru_satellites    13791 non-null  object
 8   ru_description   21248 non-null  object
 9   en_name          44784 non-null  object
 10  en_variety       44784 non-null  object
 11  en_satellites    5325 non-null   object
 12  en_description   21247 non-null  object
 13  text_boxes       44784 non-null  object
 14  mineral_boxes    44784 non-null  object
dtypes: int64(2), object(13)
memory usage: 5.1+ MB

In [30]:
import numpy as np
df['en_satellites'][df['en_satellites'] != ""]

65          quartz
68         calcite
69         calcite
79        goethite
181         quartz
           ...
44738    celestine
44739    celestine
44740    celestine
44757       quartz
44770       quartz
Name: en_satellites, Length: 5325, dtype: object

In [26]:
df['en_satellites'] = df['en_satellites'].fillna('')

In [12]:
df.iloc[44655]

id                                                            3_2545
path                                 data/3_op/3_2545/FMM_3_2545.JPG
height                                                          4000
width                                                           4566
ru_name                                                        Кварц
ru_synonim_name                                                кварц
ru_variety                                                     кварц
ru_satellites                                                    NaN
ru_description     Корка кристаллов аметиста в виде полого футляр...
en_name                                                       quartz
en_variety                                                  amethyst
en_satellites                                                    NaN
en_description     a crust of amethyst crystals in the form of a ...
text_boxes         [[[0.86523, 0.80713], [0.87793, 0.82163]], [[0...
mineral_boxes      [{"label": "a gem", "confidence": 0.156, "box"...
Name: 44655, dtype: object

In [31]:
min_dict = dict()

for _, row in df.iterrows():
    min_id = row['id']
    path = row['path']
    min_en_name = row['en_name']
    min_en_var = row['en_variety']
    min_en_description = row['en_description']
    
    

    
    min_dict[min_id] = {
        'path': path,
        'name': min_en_name,
        'variety': min_en_var,
        'description': min_en_description,
        'satellites': row['en_satellites']
    }